/* Общие стили для основного контейнера */
main {
    display: block; /* Отображаем как блок */
    text-align: center; /* Выравниваем содержимое по центру */
    align-items: center; /* Выравниваем элементы по центру */
}

/* Стили для выбора */
main select {
    margin: auto; /* Устанавливаем автоматичесные отступы по бокам */
    margin-bottom: 20px; /* Отступ снизу */
    max-width: 100%; /* Максимальная ширина до 100% */
}

/* Стили для блоков */
main div {
    max-width: 90%; /* Максимальная ширина блока */
    width: 100%; /* Ширина блока равна 100% относительно родительского элемента */
    height: auto; /* Автоматическая высота */
    margin: auto; /* Устанавливаем автоматические отступы */
}

/* Стили для спанов */
main span {
    width: 100%; /* Ширина 100% */
    max-width: 200px; /* Максимальная ширина 200px */
    display: inline-block; /* Отображаем как блочный элемент внутри строки */
}

/* Стили для кнопки "The next day" */
button {
    display: block; /* Отображение как блочный элемент */
    width: 200px; /* Ширина кнопки */
    padding: 10px; /* Внутренние отступы */
    margin: 20px auto; /* Отступы по вертикали и горизонтали */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    background-color: #00ccff; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
    font-size: 1rem; /* Размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    cursor: pointer; /* Изменяем курсор при наведении */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении */
}

button:hover {
    background-color: #0099cc; /* Изменяем цвет фона при наведении */
}


/* Медиа-запросы для адаптивного дизайна */
@media screen and (min-width: 768px) {
    /* Изменения для экранов шириной 768px и более */
    main div {
        max-width: 70%; /* Уменьшаем максимальную ширину для больших экранов */
    }
}

@media screen and (min-width: 1024px) {
    /* Изменения для экранов шириной 1024px и более */
    main div {
        max-width: 60%; /* Уменьшаем максимальную ширину для очень больших экранов */
    }
}
