/* Стили для контейнера карты */
.map-container {
    width: 100%; /* Ширина контейнера равна ширине родительского элемента */
    max-width: 800px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера по горизонтали */
    margin-top: 20px; /* Отступ сверху */
}

/* Стили для карты */
.map {
    width: 100%; /* Ширина карты равна ширине контейнера */
    height: 400px; /* Высота карты */
    border-radius: 10px; /* Закругление углов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень для эффекта поднятия */
}
